## 데이터 수집

In [186]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [187]:
df_cs = pd.read_csv('../../datasets/Customer Segmentation.csv')
df_cs.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B

In [188]:
df_cs.info(), df_cs.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

(None,
                   ID          Age  Work_Experience  Family_Size
 count    8068.000000  8068.000000      7239.000000  7733.000000
 mean   463479.214551    43.466906         2.641663     2.850123
 std      2595.381232    16.711696         3.406763     1.531413
 min    458982.000000    18.000000         0.000000     1.000000
 25%    461240.750000    30.000000         0.000000     2.000000
 50%    463472.500000    40.000000         1.000000     3.000000
 75%    465744.250000    53.000000         4.000000     4.000000
 max    467974.000000    89.000000        14.000000     9.000000)

## 데이터 전처리

In [189]:
featrues = df_cs[['ID','Gender','Ever_Married','Age'
                 ,'Graduated','Work_Experience'
                 ,'Spending_Score','Family_Size']]

In [190]:
df_cs['Age'][:4].values, df_cs['Family_Size'][:4]

# 데이터 프레임은 Index , Columns, Values로 이루어져 있음

(array([22, 38, 67, 67]),
 0    4.0
 1    3.0
 2    1.0
 3    2.0
 Name: Family_Size, dtype: float64)

In [191]:
categorical_columns = df_cs[['Gender','Ever_Married','Graduated','Spending_Score']]
categorical_columns

      Gender Ever_Married Graduated Spending_Score
0       Male           No        No            Low
1     Female          Yes       Yes        Average
2     Female          Yes       Yes            Low
3       Male          Yes       Yes           High
4     Female          Yes       Yes           High
...      ...          ...       ...            ...
8063    Male           No        No            Low
8064    Male           No        No            Low
8065  Female           No       Yes            Low
8066  Female           No       Yes            Low
8067    Male          Yes       Yes        Average

[8068 rows x 4 columns]

In [192]:
# OneHotEncoding
from sklearn.preprocessing import OneHotEncoder

# category = [['Gender','Ever_Married','Graduated','Spending_Score']]

oneHotEncoder = OneHotEncoder()
oneHotEncoder.fit(categorical_columns)

OneHotEncoder()

In [193]:
encoded_category = oneHotEncoder.transform(categorical_columns)
categorical_columns[:2],encoded_category.toarray()

(   Gender Ever_Married Graduated Spending_Score
 0    Male           No        No            Low
 1  Female          Yes       Yes        Average,
 array([[0., 1., 1., ..., 0., 0., 1.],
        [1., 0., 0., ..., 1., 0., 0.],
        [1., 0., 0., ..., 0., 0., 1.],
        ...,
        [1., 0., 1., ..., 0., 0., 1.],
        [1., 0., 1., ..., 0., 0., 1.],
        [0., 1., 0., ..., 1., 0., 0.]]))

In [194]:
encoded_category

<8068x11 sparse matrix of type '<class 'numpy.float64'>'
	with 32272 stored elements in Compressed Sparse Row format>

In [195]:
oneHotEncoder.categories_

[array(['Female', 'Male'], dtype=object),
 array(['No', 'Yes', nan], dtype=object),
 array(['No', 'Yes', nan], dtype=object),
 array(['Average', 'High', 'Low'], dtype=object)]

In [196]:
categorical_list = oneHotEncoder.get_feature_names_out(['Gender','Ever_Married','Graduated','Spending_Score'])

re_categorical = pd.DataFrame(data = encoded_category
                              , columns = categorical_list
                              , index = df_cs.index)

re_categorical.head(2)

ValueError: Shape of passed values is (8068, 1), indices imply (8068, 11)

In [175]:
# 연속형 구분
continuous =['ID','Age','Graduated','Family_Size']

In [184]:
# 연속형과 범주형 변수에 담기
cate_conti = [encoded_category, continuous]

TypeError: cannot concatenate object of type '<class 'scipy.sparse._csr.csr_matrix'>'; only Series and DataFrame objs are valid

In [181]:
cate_conti

[      Gender Ever_Married Graduated Spending_Score
 0       Male           No        No            Low
 1     Female          Yes       Yes        Average
 2     Female          Yes       Yes            Low
 3       Male          Yes       Yes           High
 4     Female          Yes       Yes           High
 ...      ...          ...       ...            ...
 8063    Male           No        No            Low
 8064    Male           No        No            Low
 8065  Female           No       Yes            Low
 8066  Female           No       Yes            Low
 8067    Male          Yes       Yes        Average

 [8068 rows x 4 columns],
 ['ID', 'Age', 'Graduated', 'Family_Size']]

In [179]:
from sklearn.cluster import KMeans

In [ ]:
cluster_loop_list = [2,3,4,5,6,7,8,9,10]

result_list = list()
for number_cluster in cluster_loop_list : 
    model_number = KMeans(n_clusters=number_cluster)
    model_number.fit(cate_conti)
    result_list.append(model_number.inertia_)
    pass

result_list

ValueError: could not convert string to float: 'Male'